* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  overflow: hidden;
}

#particles-js {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  z-index: -1;
}

.wrapper,
.content {
  position: relative;
  width: 100%;
  z-index: 1;
}

.content {
  overflow-x: hidden;
}

.content .section {
  width: 100%;
  height: 100vh;
}

.content .section.hero {
  background-image: url(https://media.discordapp.net/attachments/799467932082110465/1304457418314354719/IMG_0360.png?ex=672f7624&is=672e24a4&hm=207e4a0c41e29d4e11d2bb325eb0df66c86c479fa0773034380546ea66440f64);
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  z-index: 1;
}

.content .section.hero.layer-2 {
  background-image: url(https://media.discordapp.net/attachments/799467932082110465/1304457417685340231/Untitled5_20241108223835.png?ex=672f7624&is=672e24a4&hm=5bf13ae83c59e156ebc21009876e494107e4b283758fbb47b79a2d87df8cffde);
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 3;
  opacity: 0.7;
}

.image-container {
  width: 100%;
  height: 100vh;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  z-index: 2;
  perspective: 500px;
  overflow: hidden;
}

.image-container img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center center;
}
